.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .formCard {
    height: 815px;
    width: 100%;
    max-width: 677px;
    border-radius: 16px;
    padding: 4rem 3rem;
    border: 1px solid #4b5563;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  
  .logo {
    width: 184px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 5rem;
  }
  
  .inputGroup {
    width: 100%;
  }
  
  .input {
    background-color: #C5E2F0;
    border: none;
    border-radius: 36px;
    padding: 1.75rem 1rem;
    font-size: 1.25rem;
  }
  
  .input::placeholder {
    color: #6b7280;
  }
  
  .eyeButton {
    position: absolute;
    right: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6b7280;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .submitButton {
    width: 100%;
    background-color: #0066cc;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 1.75rem 0;
    border-radius: 36px;
    margin-top: 0.5rem;
  }
  
  .submitButton:hover {
    background-color: #0055aa;
  }
  
  .divider {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
  }
  
  .separator {
    flex: 1;
    height: 1px;
    background-color: black;
  }
  
  .orText {
    padding: 0 6rem;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .socialButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .socialButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    margin: 0 32px;
  }
  
  .footerText {
    text-align: center;
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 2.5rem;
  }
  
  .link {
    color: #0066cc;
    font-weight: 500;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  