.pagination {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .pageButton {
    min-width: 40px;
    height: 40px;
    border-radius: 999px;
  }
  
  .activePage {
    background-color: #ff80ab;
    color: white;
  }
  
  .activePage:hover {
    background-color: #ff4081;
  }
  